In [7]:
cd ..

/Users/mattlevitan/HMDA_Data_Science_Kit

In [8]:
cd ..

/Users/mattlevitan

In [9]:
import pandas as pd

In [11]:
df_area_df=pd.read_excel('./Downloads/area_definitions_m2017.xlsx', index_col=None)

In [14]:
df_area_df.dtypes

FIPS code                                                      int64
State                                                         object
State abbreviation                                            object
MSA code (including MSA divisions)                             int64
MSA name (including MSA divisions)                            object
County code                                                    int64
Township code                                                  int64
County name (or Township name for the New England states)     object
MSA code for MSAs with divisions                             float64
MSA name for MSAs with divisions                              object
dtype: object

In [27]:
df_area_df.columns

Index(['FIPS code', 'State', 'State abbreviation',
       'MSA code (including MSA divisions)',
       'MSA name (including MSA divisions)', 'County code', 'Township code',
       'County name (or Township name for the New England states)',
       'MSA code for MSAs with divisions', 'MSA name for MSAs with divisions'],
      dtype='object')

In [55]:
df = df_area_df[['FIPS code', 'State abbreviation',
       'MSA code (including MSA divisions)', 'County code', 'Township code',
       'MSA code for MSAs with divisions']]
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

In [56]:
df.dtypes

fips_code                             int64
state_abbreviation                   object
msa_code_including_msa_divisions      int64
county_code                           int64
township_code                         int64
msa_code_for_msas_with_divisions    float64
dtype: object

In [50]:
df[(str('State abbreviation'))][0]

'AL'

In [54]:
df[:10]

,FIPS code,State abbreviation,MSA code (including MSA divisions),County code,Township code,MSA code for MSAs with divisions
0,1,AL,33860,1,0,NaN
1,1,AL,19300,3,0,NaN
2,1,AL,100004,5,0,NaN
3,1,AL,13820,7,0,NaN
4,1,AL,13820,9,0,NaN
5,1,AL,100004,11,0,NaN
6,1,AL,100004,13,0,NaN
7,1,AL,11500,15,0,NaN
8,1,AL,100002,17,0,NaN
9,1,AL,100002,19,0,NaN